@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

section.header {
  background-color: #1f2937;
  padding-bottom: 100px;
  padding-top: 10px;
}

div.header {
  width: 900px;
  margin: 0 auto;
  color: #fff;
}
.header-image img {
  width: 400px;
  height: 150px;
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}

.links a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
  margin-left: 5px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

h1.title {
  width: 100%;
  font-size: 48px;
}

p.header-subtext {
  width: 90%;
  margin-bottom: 10px;
  color: #e5e7eb;
  font-size: 18px;
}

a.header-signup {
  background-color: #3882f6;
  padding: 5px 30px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
}

h3.header-logo-text {
  font-size: 24px;
  color: #f9faf8;
}

.image img {
  width: 150px;
  height: 150px;
}

.images {
  display: flex;
  justify-content: center;
}

.images img {
  margin-right: 50px;
  border: 3px solid #3882f6;
  border-radius: 10px;
}

.images p {
  width: 150px;
  text-align: center;
}

h2.random-information {
  text-align: center;
  margin: 40px 0 40px 0;
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.random-information {
  margin-bottom: 100px;
}

.quote-section {
  background-color: #e5e7eb;
  padding: 100px 0 100px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.quote-section .quote-text {
  font-size: 36px;
  color: #1f2937;
  width: 800px;
  font-weight: 300;
  font-style: italic;
}

.quote-section .signature {
  font-weight: 900;
  font-size: 18px;
  margin-left: 550px;
}

.call-to-action {
  margin: 100px 500px;
  background-color: #3882f6;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
}

.call-to-action-texts {
  color: #fff;
}

button.sign-up-button {
  color: #fff;
  border: 1px solid #fff;
  background-color: inherit;
  padding: 0px 25px;
  border-radius: 15px;
}

.footer {
  background-color: #1f2937;
  color: #fff;
  padding: 25px 0;
  text-align: center;
}
